<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - battleship</title>
    <base href="~/" />

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"  />    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ng2-toastr@4.1.2/bundles/ng2-toastr.min.css"  WE />
    <style>
      body{
        height: 100vh;
     background: #0A212E;
  margin: 0px;
  overflow: hidden;
  animation: color-loop 18s infinite;
      }
  .container {
    padding: 50px;
  }
  .battleship-tile {
    color: black;
  }
  .win {
    background-color: #23d160;
    color: #fff;
  }
  .fail {
    background-color: #ff3860;
    color: #fff;
  }
   .board{
     transform: rotateX(45deg) rotateY(0deg) rotateZ(-30deg);
   }
   
  @@keyframes color-loop {
  0% {
    background: #2CAB5B;
  }
  
  75% {
    background: #4286F3;
  }
  100% {
    background: #2CAB5B;
  }
}
    </style>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
